*{
    box-sizing: border-box;
 }
 
 /* Mengatur font yang dipakai dan beckground halaman */
 body{
    font-family: Arial;
    margin: 0;
    background: #038ade;
 }
 
 /* =================== */
 /* Style Halaman Login */
 /* =================== */
 
 /* Membuat container menjadi layot flexbox dan kotak login di tengah */
 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 /* mengatur judul form dengan border bawah dan posisi di tengah */
 .login-box{
    margin-top: 150px;
    flex-basis: 400px;
    background: #fff;
    padding: 20px;
 }
 
 /* Mengatur judul form dengan border bawah dan posisi di tengah */
 .login-box h2{
    border-bottom: 1px solid #ccc;
    color: #555;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
 }
 /* Mengatur agar tag input dan select memenuhi container dan
 tampilan lebih bagus
 */
 input, select{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
 }
 
 /* Mengatur tampilan tombol submit */
 input[type=submit], button{
    background-color: #038ade;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
 }

 /* ============== */
 /*  Style Halaman Form */
 /* ============== */
 
 /* Mengatur form-group agar tidak terpengaruh float */
 .form-group{
    clear: both;
 }
 
 /* Mengatur lebar label 20% dengan text bold */
 .form-group label{
    display: block;
    padding: 15px 0;
    float: left;
    width: 30%;
    font-weight: bold;
 }
 
 /* Mengukur lebar .input 50% dan sejajar dengan label */
 .form-group .input{
    display: block;
    width: 50%;
    float: left;
 }
 
 /* Mengatur input radio, tombol submit dan tombol reser */
 input[type=radio]{
    width: 50px;
 }
 .tombol.simpan{
    background: #038ade;
 }
 .tombol.reset{
    background: #fb8307;
 }
 
 /* Membuat tampilan form menumpuk pada layer kecil */
 @media (max-width: 700px){
    .form-group label, .form-group .input{
        width: 100%;
    }
 }
 
 
 /* ================ */
 /* Style Halam Tabel */
 /* ================ */
 
 /* Mengatur desain judul halaman dengan boorder di bawah */
 .judul{
    color: #555;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
 }
 /* Mengatur agar lebar penuh dan antar border di bawah */
 .table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
 }
 /* Menambahkan border dan pedding pada sel tabel */
 .table th, .table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
 }
 /* Mengatur background bagian judl tabel */
 .table th{
    background: #eee;
 }
 
 /* Mengatur desain tombo yang di buat dengan tan <a> */
 .tombol{
    display: inline-block;
    max-width: 150px;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    background: #038ade;
    cursor: pointer;
 }
 /* Desain tombol edit dan hapus agar lebih kecil */
 .tombol.edit,.tombol.hapus{
    padding: 10px 15px;
    font-size: 12px;
 }
 
 .tombol.hapus{
    background: #fc4c4c;
 }
 
 /* ================= */
 /* Style Halaman Dashboard */
 /* ================= */
 
 /* Mengatur Desain Header */
 header{
    background: #222;
    color: #fff;
    padding: 18PX 30PX;
    font-size: 25px;
    display: flex;
    align-items: center; /* Menjaga teks sejajar dengan gambar */
    gap: 10px; /* Jarak antara gambar dan teks */
 }
 
 /* Mengatur lebar menu 20% dengan background hitam */
 aside{
    flex: 20%;
    background: #7e7e7e ;
 }
 
 /* Mengatur lebar konten utama 80% dengan background putih  */
 section.main{
    flex: 80%;
    background: #fff;
    min-height: 530px;
    padding: 15px 20px;
 }
 
 /* Mengatur footer dengan background abu-abu dan text di tengah */
 footer{
    background: #ccc;
    color: #555;
    padding: 15px;
    text-align: center ;
 }
 
 /* Mengatur layout pada layar kecil (responsive) */
 @media (max-width: 700px){
    .container{
        flex-direction: column;
    }
 }
 
 /* Navigasi */
 /* Membuang padding tag <ul>  */
 .menu{
    padding: 0;
    color:#eee;
 }
 
 /* Menambah border bawah tag <li> */
 .menu a{
    display: block;
    padding: 20px 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
 }
 
 /* Mengganti background menu ketika ditunjuk mouse */
 .menu a:hover{
    background: #555;
 }
 .pl{
   text-decoration: none;
 }
 .bg {
   width: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}
